@model List<TravelBlogWeb.Models.BlogPost>

@{
    ViewBag.Title = "CityBlogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">
    <!-- ======= Search Results ======= -->
    <section id="search-result" class="search-result">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="mb-5" >Blogs</h1>
                    @foreach (var blog in Model)
                    {
                        <div class="d-md-flex post-entry-2 small-img">
                            <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = blog.Id })" class="me-4 thumbnail">
                                <img src="@blog.Image" alt="" class="img-fluid">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date"></span> <span class="mx-1"></span> <span>@blog.CreationDate</span></div>
                                <h3>    
                                <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = blog.Id })">@blog.Title</a>
                                    </h3>
                                <p>@(blog.Content.Substring(0, 110) + "...")</p>
                                <div class="d-flex align-items-center author">
                                    <div class="photo"><img src="@blog.User.Image" alt="" class="img-fluid"></div>
                                    <div class="name">
                                        <h3 class="m-0 p-0">@blog.User.Name</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.Partial("_SideBarPartial")
            </div>
        </div>

    </section> <!-- End Search Result -->
</main><!-- End #main -->
