
@model  TravelBlogWeb.Models.BlogPost


@{
    var userName = HttpContext.Current.Session["name"] as string;
    ViewBag.Title = "ShowBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">
                    <div class="single-post">
                        <div class="post-meta d-inline-block">
                            &nbsp;&nbsp;&nbsp;
                            <span class="date float-start">@Model.User.Name</span>
                            <span class="mx-1">&bullet;</span>
                            <span>@Model.CreationDate</span>
                            @{ if (User.Identity.IsAuthenticated)
                                {
                                    if (ViewBag.isLiked)
                                    {

                                        <form action="@Url.Action("Dislike")" method="post">
                                            <input class="d-none" type="number" name="likeblogId" value="@ViewData["currentBlogId"]" />

                                            <button style="border:none;" class="bg-white" type="submit">
                                                <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                                            </button>
                                        </form>

                                    }
                                    else
                                    {

                                        <form action="@Url.Action("Like")" method="post">
                                            <input class="d-none" type="number" name="likeblogId" value="@ViewData["currentBlogId"]" />
                                            <button style="border:none;" class="bg-white" type="submit">
                                                <i class="fa-regular fa-heart fa-2xl" style="color: #ff0000;"></i>
                                            </button>
                                        </form>

                                    }
                                }
                                else
                                {
                                    <form style="width:20px;" method="post">
                                        <input class="d-none" type="number" name="likeblogId" />
                                        <button disabled style="border:none;" class="bg-white" type="submit">
                                            <i class="fa-regular fa-heart fa-2xl" style="color: #000000;"></i>
                                        </button>
                                        <p>You have to sign up for like blogs!</p>
                                    </form>
                                }



                            }
                        </div>
                        <h1 class="mb-5">@Model.Title</h1>
                        <div>

                            <img style="height:400px; width:1200px;" src=@Model.Image alt="" class="img-fluid">

                        </div>
                        <p style="white-space:pre-line;">
                            @Model.Content
                        </p>
                    </div><!-- End Single Post Content -->
                    <!-- ======= Comments ======= -->

                    <div class="comments">
                        <h5 class="comment-title py-4">@ViewData["commentCount"] Comments <span class="mx-1">&bullet;</span>@ViewBag.likeCount Likes</h5>
                        @foreach (var item in (List<TravelBlogWeb.Models.BlogComment>)ViewData["Comments"])
                        {
                            <div class="comment d-flex mb-4">
                                <div class="flex-shrink-0">
                                    <div class="avatar avatar-sm rounded-circle">
                                        <img class="avatar-img img-fluid" src="@item.User.Image" alt="">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2 ms-sm-3">
                                    <div class="comment-meta d-flex align-items-baseline">
                                        <h6 class="me-2">@item.User.Name</h6>
                                        @if (item.User.IsAdmin)
                                        {
                                            <p class="text-danger small"> Admin </p>
                                        }
                                        else
                                        {
                                            <p class="small"> User </p>

                                        }
                                        <span class="text-muted">&nbsp;&nbsp; @item.CreationDate</span>

                                    </div>
                                    <div class="comment-body">
                                        @item.Comment
                                    </div>
                                </div>
                            </div>
                        }

                    </div><!-- End Comments -->
                </div>

                @Html.Partial("_SidebarPartial")

            </div>

            @{
                if (User.Identity.IsAuthenticated)
                {
                    <div class="row justify-content-center mt-5">

                        <div class="col-lg-12">
                            <h5 class="comment-title">Leave a Comment</h5>
                            <div class="row">
                                <form action="@Url.Action("AddComment")" method="post">



                                    <div class="col-lg-7 mb-3">
                                        <input class="d-none" type="text" name="blogId" value="@ViewBag.blogId" />
                                        <label for="comment-name">Name</label>
                                        <input disabled type="text" class="form-control" id="comment-name" value="@userName">
                                    </div>

                                    <div class="col-7 mb-3">
                                        <label for="comment-message">Message</label>
                                        <textarea class="form-control" id="comment-message" name="commentText" placeholder="Your Comment" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="col-7">
                                        <input type="submit" class="btn btn-primary" value="Post comment">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- End Comments Form -->

                }
                else
                {

                    <!-- ======= Comments Form ======= -->
                    <div class="row justify-content-center mt-5">

                        <div class="col-lg-12">
                            <h5 class="comment-title">Leave a Comment</h5>
                            <div class="row">
                                <form action="@Url.Action("Index","Home")"></form>
                                <div class="col-lg-7 mb-3">
                                    <label for="comment-name">Name</label>
                                    <input disabled type="text" class="form-control border-danger" id="comment-name" value="You have to Sign Up for add comments!">
                                </div>
                                <div class="col-7 mb-3">
                                    <label for="comment-message">Message</label>
                                    <textarea disabled class="form-control border-danger" id="comment-message" cols="30" rows="10"></textarea>
                                </div>
                                <div class="col-7">
                                    <input disabled type="submit" class="btn btn-outline-danger" value="Post comment">
                                </div>
                            </div>
                        </div>
                    </div><!-- End Comments Form -->
                }
            }
        </div>



    </section>


</main>>