@model List<TravelBlogWeb.Models.BlogPost>
@{
    ViewBag.Title = "MyBlogs";
}


<main id="main">
    <p class="text-success fw-bold">@ViewData["successMessage"]</p>
    <!-- ======= Search Results ======= -->
    <section id="search-result" class="search-result">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="my-4">Your Blogs</h1>
                    @foreach (var blog in Model)
                    {
                        <div class="d-md-flex post-entry-2 small-img">
                            <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = blog.Id })" class="me-4 thumbnail">
                                <img src="@blog.Image" alt="" class="img-fluid">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date"></span> <span class="mx-1">&bullet;</span> <span>@blog.CreationDate</span></div>
                                <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = blog.Id })"><h3>@blog.Title</h3></a>
                                <p>@(blog.Content.Substring(0, 90) + "...")</p>
                                <div class="d-flex align-items-center author">
                                    <div class="photo"><img src="@blog.User.Image" alt="" class="img-fluid"></div>
                                    <div class="name">
                                        <h3 class="m-0 p-0">@blog.User.Name</h3>
                                    </div>
                                    <a href="@Url.Action("EditMyBlog", "User", new { blogId = blog.Id })" style="float:right;" class="mx-4 btn btn-sm btn-warning"> Edit Blog </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.Partial("_SideBarPartial")
            </div>
        </div>

    </section> <!-- End Search Result -->
</main><!-- End #main -->
