@{
    ViewBag.Title = "Home Page";
}

<main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[0].Id })" class="img-bg d-flex align-items-end" style="background-image: url('@ViewBag.popularsMain[0].Image');">
                                    <div class="img-bg-inner">
                                        <h2>@ViewBag.popularsMain[0].Title</h2>
                                        <p>@(ViewBag.popularsMain[0].Content.Substring(0, 160) + "...")</p>
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[1].Id })" class="img-bg d-flex align-items-end" style="background-image: url('@ViewBag.popularsMain[1].Image');">
                                    <div class="img-bg-inner">
                                        <h2>@ViewBag.popularsMain[1].Title</h2>
                                        <p>@(ViewBag.popularsMain[1].Content.Substring(0, 160) + "...")</p>
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[2].Id })" class="img-bg d-flex align-items-end" style="background-image: url('@ViewBag.popularsMain[2].Image');">
                                    <div class="img-bg-inner">
                                        <h2>@ViewBag.popularsMain[2].Title</h2>
                                        <p>@(ViewBag.popularsMain[2].Content.Substring(0, 160) + "...")</p>
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[3].Id })" class="img-bg d-flex align-items-end" style="background-image: url('@ViewBag.popularsMain[3].Image');">
                                    <div class="img-bg-inner">
                                        <h2>@ViewBag.popularsMain[3].Title</h2>
                                        <p>@(ViewBag.popularsMain[3].Content.Substring(0, 160) + "...")</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                        </div>
                        <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Slider Section -->
    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <h2>Populars</h2>
            <hr />
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="post-entry-1 lg">
                        <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[0].Id })"><img src="@ViewBag.popularsMain[0].Image" class="img-fluid"></a>
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.popularsMain[0].CreationDate</span></div>
                        <h2><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[0].Id })">@ViewBag.popularsMain[0].Title</a></h2>
                        <p class="mb-4 d-block">@(ViewBag.popularsMain[0].Content.Substring(0, 150) + "...")</p>
                        <div class="d-flex align-items-center author">
                            <div class="photo"><img src="@ViewBag.popularsMain[0].User.Image" class="img-fluid"></div>
                            <div class="name">
                                <h3 class="m-0 p-0">@ViewBag.popularsMain[0].User.Name</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="@ViewBag.popularsMain[1].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.popularsMain[1].CreationDate</span></div>
                                <h2><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[1].Id })">@ViewBag.popularsMain[1].Title</a></h2>
                            </div>
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="@ViewBag.popularsMain[2].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Food</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.popularsMain[2].CreationDate</span></div>
                                <h2><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[2].Id })">@ViewBag.popularsMain[2].Title</a></h2>
                            </div>
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="@ViewBag.popularsMain[3].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Design</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.popularsMain[3].CreationDate</span></div>
                                <h2><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[3].Id })">@ViewBag.popularsMain[3].Title</a></h2>
                            </div>
                        </div>
                        <div class="col-lg-4 border-start custom-border">
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="@ViewBag.popularsMain[4].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.popularsMain[4].CreationDate</span></div>
                                <h2><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[4].Id })">@ViewBag.popularsMain[4].Title</a></h2>
                            </div>
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="@ViewBag.popularsMain[5].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Tech</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.popularsMain[5].CreationDate</span></div>
                                <h2><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[5].Id })">@ViewBag.popularsMain[5].Title</a></h2>
                            </div>
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="@ViewBag.popularsMain[6].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Travel</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.popularsMain[6].CreationDate</span></div>
                                <h2><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.popularsMain[6].Id })">@ViewBag.popularsMain[6].Title</a></h2>
                            </div>
                        </div>

                        <!-- Trending Section -->
                        <div class="col-lg-4">
                            @{
                                int counter = 1;
                            }

                            <div class="trending">
                                <h3>Trending</h3>
                                <ul class="trending-post">
                                    @foreach (var item in @ViewBag.popularsAside)
                                    {
                                        <li>
                                            <a href="@Url.Action("ShowBlog", "SingleBlog", new { id = item.Id })">
                                                <span class="number">@counter</span>
                                                <h3>@item.Title</h3>
                                                <span class="author">@item.User.Name</span>
                                            </a>
                                        </li>
                                        counter++;
                                    }
                                </ul>
                            </div>
                            @{counter = 0;
                            }

                        </div> <!-- End Trending Section -->
                    </div>
                </div>

            </div> <!-- End .row -->
        </div>
    </section> <!-- End Post Grid Section -->
    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">

        <div class="container" data-aos="fade-up">
            <h2>Latests</h2>
            <hr />
            <div class="row">
                <div class="col-md-9">
                    <div class="d-lg-flex post-entry-2">
                        <a href="single-post.html" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                            <img src="@ViewBag.latests[0].Image" alt="" class="img-fluid">
                        </a>
                        <div>
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[0].CreationDate</span></div>
                            <h3><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[0].Id })">@ViewBag.latests[0].Title</a></h3>
                            <p class="mb-4 d-block">@(ViewBag.latests[0].Content.Substring(0, 140) + "...")</p>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="@ViewBag.latests[0].User.Image" alt="" class="img-fluid"></div>
                                <div class="name">
                                    <h3 class="m-0 p-0">@ViewBag.latests[0].User.Name</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="post-entry-1 border-bottom">
                                <a href="single-post.html"><img src="@ViewBag.latests[1].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[1].CreationDate</span></div>
                                <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[1].Id })">@ViewBag.latests[1].Title</a></h2>
                                <span class="author mb-3 d-block">@ViewBag.latests[1].User.Name</span>
                                <p class="mb-4 d-block">@(ViewBag.latests[1].Content.Substring(0, 100) + "...")</p>
                            </div>

                            <div class="post-entry-1">
                                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[2].CreationDate</span></div>
                                <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[2].Id })">@ViewBag.latests[2].Title</a></h2>
                                <span class="author mb-3 d-block">@ViewBag.latests[2].User.Name</span>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="post-entry-1">
                                <a href="single-post.html"><img src="@ViewBag.latests[3].Image" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[3].CreationDate</span></div>
                                <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[3].Id })">@ViewBag.latests[3].Title</a></h2>
                                <span class="author mb-3 d-block">@ViewBag.latests[3].User.Name</span>
                                <p class="mb-4 d-block">@(ViewBag.latests[3].Content.Substring(0, 100) + "...")</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[4].CreationDate</span></div>
                        <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[4].Id })">@ViewBag.latests[4].Title</a></h2>
                        <span class="author mb-3 d-block">@ViewBag.latests[4].User.Name</span>
                    </div>

                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[5].CreationDate</span></div>
                        <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[5].Id })">@ViewBag.latests[5].Title</a></h2>
                        <span class="author mb-3 d-block">@ViewBag.latests[5].User.Name</span>
                    </div>

                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[6].CreationDate</span></div>
                        <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[6].Id })">@ViewBag.latests[6].Title</a></h2>
                        <span class="author mb-3 d-block">@ViewBag.latests[6].User.Name</span>
                    </div>

                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[7].CreationDate</span></div>
                        <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[7].Id })">@ViewBag.latests[7].Title</a></h2>
                        <span class="author mb-3 d-block">@ViewBag.latests[7].User.Name</span>
                    </div>

                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[8].CreationDate</span></div>
                        <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[8].Id })">@ViewBag.latests[8].Title</a></h2>
                        <span class="author mb-3 d-block">@ViewBag.latests[8].User.Name</span>
                    </div>

                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>@ViewBag.latests[9].CreationDate</span></div>
                        <h2 class="mb-2"><a href="@Url.Action("ShowBlog", "SingleBlog", new { id = @ViewBag.latests[9].Id })">@ViewBag.latests[9].Title</a></h2>
                        <span class="author mb-3 d-block">@ViewBag.latests[9].User.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Culture Category Section -->



</main><!-- End #main -->
